<section> 
    <div class="foto_descripcion">
        <img class="foto" src="../../../assets/1029828.png">
        <img class="banner" src="../../../assets/attack.jpg">
        <div class="descripcion">
            <div class="contener_nombre">
                <h2>Fernanda Velásquez</h2>
            </div>
            <h3>Decripción:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sunt, impedit molestias voluptates minima dolorum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores quae cum veritatis maiores eligendi quidem? lorem15.</p>
            <div class="reputacion">
                <img src="../../../assets/estrella.png">
                <p>5.0</p>
            </div>
        </div>
    </div>
    <div class="botones">
        <a class="propuesta" (click)="hacerPago()">Pagar</a>
        <a class="enviar" href="#">Enviar Propuestas</a>
    </div>
</section>

<div class="informacion">
    <div class="izquierda">
        <div class="campo">
            <h3 class="largo">Rango de Programador:</h3>
            <p>Senior</p>
        </div>
        <div class="campo">
            <h3>Especialidad:</h3>
            <p>Programación Web</p>
        </div>
    </div>
    <div clas="derecha">
        <div class="campo">
            <h3>Correo:</h3>
            <p>jrjuanreyes64@gmail.com</p>
        </div>
        <div class="campo">
            <h3>GitHub:</h3>
            <p>http://github.com</p>
        </div>
    </div>
</div>
