<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let i of data">
        <section> 
            <div class="container-file filePortada" *ngIf="editar" ><input (change)="subirFoto($event, 'portada')"  type="file"></div>
            <div class="container-file filePerfil" *ngIf="editar" ><input (change)="subirFoto($event, 'perfil')" type="file"></div>

            <div class="foto_descripcion" >
                <img class="foto" src={{photoSelectedPerfil}}>
                <img class="banner" src={{photoSelectedPortada}}>
                <div class="descripcion">
                    <div class="contener_nombre">
                        <h2>{{i.nomcompleto}}</h2>
                    </div>
                    <h3>Decripción:</h3>
                    <textarea #editTextarea class="edit" cols="50" maxlength="450" formControlName="descripcion" readonly="true">{{i.descripcion}}</textarea>

                    <div class="reputacion">
                        <i class="fas fa-star"></i>
                        <p>5.0</p>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="!changeButton && notProgrammer" class="botones">
                    <a class="propuesta" *ngIf="pagar" (click)="hacerPago()">Pagar</a>
                    <a class="enviar" *ngIf="propuesta" (click)="hacerPropuesta()">Enviar Propuestas</a>
                </div>
                <div *ngIf="changeButton" class="botones">
                    <a class="editar" *ngIf="!editar" id="entrarEdicion" (click)="editarPerfil()">Editar perfil</a>
                    <button type="submit" class="editar" *ngIf="editar" id="quitarEdicion" >Salir y Guardar</button>
                    <a href="/pagos" class="targeta" *ngIf="editar">Tarjeta</a>
                    <a class="enviar" *ngIf="!editar" (click)="modal = !modal">Ver Propuestas</a>
                </div>
            </div>
        </section>
    
        <div class="informacion">
            <div class="izquierda">
                <div class="campo">
                    <h3 class="largo">Rango de Programador:</h3>
                    <input #editInputs class="edit" type="text" readonly="true" formControlName="rango">
                </div>
                <div class="campo">
                    <h3>Especialidad:</h3>
                    <input #editInputs class="edit especiali" type="text" readonly="true" formControlName="especialidad">
                </div>
            </div>
            <div clas="derecha">
                <div class="campo">
                    <h3>Correo:</h3>
                    <input #editInputs class="edit especiali" type="text" readonly="true" formControlName="correo">
                </div>
                <div class="campo">
                    <h3>GitHub:</h3>
                    <input #editInputs class="edit especiali" type="text" readonly="true" formControlName="repositorio">
                </div>
            </div>
        </div>
    </div>
</form>

<article *ngIf="modal">
    <div class="container">
        <i class="fas fa-times fa-lg" (click)="modal = !modal"></i>
        <ul class="cont-tabs">
            <li class="list-options" (click)="changeview('propuestas')" [ngStyle]="changeStyle('propuestas')">Propuestas</li>
            <li class="list-options" (click)="changeview('aceptadas')" [ngStyle]="changeStyle('aceptadas')">Aceptadas</li>
            <li class="list-options" (click)="changeview('pagadas')" [ngStyle]="changeStyle('pagadas')">Pagadas</li>
            <li class="list-options" (click)="changeview('finalizadas')" [ngStyle]="changeStyle('finalizadas')">Finalizadas</li>

        </ul>

        <div class="content">
            <ul class="cont-titles">
                <li>Nombre Usuario</li>
                <li>Entrega</li>
                <li>Información</li>
            </ul>

            <div class="cont-tags">
                <div id="propuestas" *ngIf="tabs == 'propuestas'" class="label-options">
                    <section *ngFor="let i of nuevo">
                        <div class="tag">
                            <p>{{i.nomuser}}</p>
                            <p>{{i.fecentrega}}</p>
                            <button class="button-dropdown" (click)="show(nuevo.indexOf(i))">Info</button>
                        </div>
                        <div class="dropdown">
                            <div>
                                <h2>{{i.nomproyecto}}</h2>
                                <a href="{{BASE_API}}/downloadimage?type=archivo&imagen=files/{{i.usuario}},{{i.programador}},{{i.archivo}}" class="archivo">{{i.archivo}}</a>
                            </div>
                            <p>{{i.descripcion}}</p>
                            <div class="estado">
                                <button (click)="changeStatus(i,'R',nuevo.indexOf(i))">Rechazar</button>
                                <div>
                                    <input type="number" class="precio" placeholder='COL$'>
                                    <button (click)="changeStatus(i,'A',nuevo.indexOf(i))">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>

                <div id="aceptadas" class="label-options" *ngIf="tabs == 'aceptadas'">
                    <section *ngFor="let i of aceptadas">
                        <div class="tag">
                            <p>{{i.nomuser}}</p>
                            <p>{{i.fecentrega}}</p>
                            <button class="button-dropdown" (click)="show(aceptadas.indexOf(i))">Info</button>
                        </div>
                        <div class="dropdown">
                            <div>
                                <h2>{{i.nomproyecto}}</h2>
                                <a href="{{BASE_API}}/downloadimage?type=archivo&imagen=files/{{i.usuario}},{{i.programador}},{{i.archivo}}"  class="archivo">{{i.archivo}}</a>
                            </div>
                            <p>{{i.descripcion}}</p>
                            <div class="estado">
                                <button (click)="changeStatus(i,'R',aceptadas.indexOf(i))">Cancelar</button>
                                <div>
                                    <p><span>Precio: </span>{{i.valor}}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>

                <div id="pagadas" class="label-options" *ngIf="tabs == 'pagadas'">
                    <section *ngFor="let i of pagadas">
                        <div class="tag">
                            <p>{{i.nomuser}}</p>
                            <p>{{i.fecentrega}}</p>
                            <button class="button-dropdown" (click)="show(pagadas.indexOf(i))">Info</button>
                        </div>
                        <div class="dropdown">
                            <div>
                                <h2>{{i.nomproyecto}}</h2>
                                <a href="{{BASE_API}}/downloadimage?type=archivo&imagen=files/{{i.usuario}},{{i.programador}},{{i.archivo}}"  class="archivo">{{i.archivo}}</a>
                            </div>
                            <p>{{i.descripcion}}</p>
                            <div class="estado2">
                                <p><span>Precio: </span>{{i.valor}}</p>
                                <div>
                                    <span *ngIf="statusFile == 'Archivo adjuntado'" (click)="deleteFile()" class="far fa-times-circle"></span>
                                    <div class="archivo">
                                        <label for="archivo">{{statusFile}}</label>
                                        <input type="file" id="archivo" (change)="adjuntarArchivo($event)">
                                    </div>
                                    <button class="send" (click)="enviar(i.usuario,i)">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div id="finalizadas" class="label-options" *ngIf="tabs == 'finalizadas'">
                    <section *ngFor="let i of finalizadas">
                        <div class="tag">
                            <p>{{i.nomuser}}</p>
                            <p>{{i.fecentrega}}</p>
                            <button class="button-dropdown" (click)="show(finalizadas.indexOf(i))">Info</button>
                        </div>
                        <div class="dropdown">
                            <div>
                                <h2>{{i.nomproyecto}}</h2>
                                <a href="{{BASE_API}}/downloadimage?type=archivo&imagen=files/{{i.usuario}},{{i.programador}},{{i.archivo}}"  class="archivo">{{i.archivo}}</a>
                            </div>
                            <p>{{i.descripcion}}</p>
                            <div class="estado2">
                                <p><span>Precio: </span>{{i.valor}}</p>
                                <a href="{{BASE_API}}/downloadimage?type=archivo&imagen=files/{{i.usuario}},{{i.programador}},{{i.respuesta}}" >{{i.respuesta}}</a>
                            </div>
                        </div>
                    </section>
                </div>

            </div>

          <!-- <button type="button">hola</button> -->

        </div>
    </div>
</article>

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sunt, impedit molestias voluptates minima dolorum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores quae cum veritatis maiores eligendi quidem? lorem15. -->