<main>
    <section class="section1">
        <div class="imagen">
            <div><img class="foto" src="../../../assets/perfil.jpg"></div>
            <p>Pardo6421</p>
        </div>
        <article class="article">
            <div>
                <p>Nombre:</p>
                <p>pardo Reyes Montoya</p>
            </div>
            <div>
                <p>Correo:</p>
                <p>camijun@gmail.com</p>
            </div>
            <div>
                <p>Celular:</p>
                <p>320-750-9544</p>
            </div>
        </article>
    </section>
    <button type="submit">Editar</button>
</main>
<section class="section2">
    <h2>Propuestas enviadas</h2>
    <ul class="titulos">
        <li>Freelancer</li>
        <li>Fecha de Entrega</li>
        <li>Estados</li>
    </ul>
</section>