<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <main>
        <section class="section1">
            <div class="imagen">
                <div><img class="foto" src={{photoSelectedPerfil}}></div>
                <article class="container-file filePortada" *ngIf="editar" ><input type="file" (change)="subirFoto($event)"></article>
            </div>
            <article class="article">
                <div>
                    <p>Nombre:</p>
                    
                    <input type="text" #editInputs formControlName="nombre" readonly="true">
                </div>
                <div>
                    <p>Correo:</p>
                    <input type="email" #editInputs formControlName="correo" readonly="true">

                </div>
                <div>
                    <p>Celular:</p>
                    <input type="number" #editInputs formControlName="celular" readonly="true">
                </div>
            </article>
        </section>
        <a class="editar" *ngIf="!editar" id="entrarEdicion" (click)="editarPerfil()">Editar perfil</a>
        <button class="editar" *ngIf="editar" type="submit" >Salir y Guardar</button>
    </main>
</form>

    <section class="section2">
        <h2>Propuestas enviadas</h2>
        <ul class="titulos">
            <li>Freelancer</li>
            <li>Fecha de Entrega</li>
            <li>Estados</li>
        </ul>
    </section>
