<body>
    <div class="registro">
        <h2>Registrate</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="grupo">
                <input class="inputs" type="text" formControlName="nombre">
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-user-circle"></i>Nombre Completo</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="text" formControlName="usuario">
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-smile-beam"></i>Nombre de Usuario</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="email" formControlName="email">
                <span class="barra"></span>
                <label class="label" for=""><i class="far fa-envelope"></i>Correo</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="number" formControlName="celular">
                <span class="barra"></span>
                <label class="label" for=""><i class="fas fa-mobile-alt"></i>Celular</label>
            </div>
            <div class="grupo">
                <input class="inputs" type="password" formControlName="password" id="inputMostrar">
                <span class="barra"></span>
                <label class="label" for=""><i class="fas fa-unlock-alt"></i>Contraseña</label>
                <i class="fas fa-eye" id="ver" (click)="mostrarpass()"></i>
            </div>
            <div *ngIf="!load" class="spinner"></div>
            <button *ngIf="load" type="submit">Enviar</button>
        </form>
    </div>
</body>

