<article class="contModal" id ="contModal">
    <div class="modal" id = 'modal'>
        <i class="fas fa-times fa-lg" id ="close"></i>
        <h1>Registrarse como:</h1>
        <div>
            <div>
                <i class="fas fa-user fa-4x"></i>
                <button class="registro1" id="registroU">Usuario</button>
            </div>
            <div>
                <i class="fas fa-laptop-code fa-4x"></i>
                <button class="registro2" id="registroF">Freelancer</button>
            </div>
        </div>
    </div>
</article>
