<div class="portafolio">
    <h2>
        Portafolio
    </h2>
    <div class="galeria">
        <div class="info_galeria">
            <h3>Proyecto: <span class="nombre_proy">Selfming</span></h3>
            <h3>Link: <span class="nombre_proy"><a href="#">http://SelfMing</a></span></h3>
        </div>
        <div class="imagenes">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
        </div>
    </div>
    <div class="galeria">
        <div class="info_galeria">
            <h3>Proyecto: <span class="nombre_proy">Selfming</span></h3>
            <h3>Link: <span class="nombre_proy"><a href="#">http://SelfMing</a></span></h3>
        </div>
        <div class="imagenes">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
            <img src="../../../assets/portada.jpg">
        </div>
    </div>
</div>
