<div class="portafolio">
    <h2>
        Portafolio
    </h2>
    <div class="galeria">
        <div class="info_galeria">
            <h3>Proyecto: <span class="nombre_proy">Selfming</span></h3>
            <h3>Link: <span class="nombre_proy"><a href="#">http://SelfMing</a></span></h3>
        </div>
        <div class="imagenes">
            <img src="../../../assets/attack.jpg">
            <img src="../../../assets/favicon.png">
            <img src="../../../assets/1029828.png">
            <img src="../../../assets/1029828.png">
            <img src="../../../assets/1029828.png">
            <img src="../../../assets/1029828.png">
        </div>
    </div>
    <div class="galeria">
        <div class="info_galeria">
            <h3>Proyecto: <span class="nombre_proy">Selfming</span></h3>
            <h3>Link: <span class="nombre_proy"><a href="#">http://SelfMing</a></span></h3>
        </div>
        <div class="imagenes">
            <img src="../../../assets/attack.jpg">
            <img src="../../../assets/1029828.png">
            <img src="../../../assets/attack.jpg">
            <img src="../../../assets/attack.jpg">
        </div>
    </div>
</div>
