.portafolio{
    width: 100%;
    background-color: #1c1321;
    padding: 50px 50px 20px;
}
.portafolio h2{
    color: white;
    font-size: 35px;
    margin-bottom: 30px;
}
.galeria{
    padding: 0 30px;
    margin-bottom: 40px;
}
.info_galeria{
    display: flex;
    justify-content: space-between;
}
.info_galeria a{
    text-decoration: none;
    color: white;
}
.galeria h3{
    color: white;
    margin: 10px 0;
    font-size: 20px;
}
.nombre_proy{
    font-weight: normal;
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1140px;
    height: 100%;
    margin: auto;
}


.imagenes img{
    object-fit: cover;
    width: 265px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 4px 4px 15px #150d1a;
    margin: 8px;
}