<div class="portafolio">
    <h2>
        Portafolio
    </h2>

    <div *ngFor="let i of portafolios" class="galeria">
        <div class="info_galeria">
            <h3>Proyecto: <span class="nombre_proy">{{i.nombre}}</span></h3>
            <a target="_blank" href={{i.url}}>Visitar Sitio</a>
            <i class="fas fa-trash-alt" *ngIf="changeButton" (click)="eliminarProyecto(i.idportafolio)"></i>
        </div>
        <div class="imagenes">
            <img *ngFor="let j of i.imgsPort" src="{{BASE_API}}/downloadimage?imagen=images/portafolio/{{j.urlimagen}}">
        </div>
    </div>

    <div class="contVentana">
        <button *ngIf="changeButton && showButton" (click)="CrearPortafolio()" class="ventana">Crear Portafolio</button>
        <p *ngIf="!changeButton && showMessage">Este usuario no tiene portafolio</p>
    </div>

</div>

<article *ngIf="modal" class="contModal" id ="contModal">
    <div class="modal" id ="modal">
        <i class="fas fa-times fa-lg" (click)="modal = !modal"></i>
        <h1>Agregar Portafolio</h1>
        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="nombre">Nombre del Proyecto</label>
                <input type="text" id="nombre" formControlName="nombre">
            </div>
            <div>
                <label for="url">URL del Proyecto</label>
                <input type="text" id="url" formControlName="url">
            </div>
            <div class="container-file" id="beforeDiv">
                <p>{{mensaje}}</p>
                <input type="file" id="imagen" multiple="true" (change)="subirFoto($event)">
            </div>
            
            <button type="submit">Crear Proyecto</button>
        </form>
    </div>
</article>

