<body>
    <form action="">
        <div class="datos" *ngIf="datos">
            <div class="datosGrupo">
                <span>Proyecto: </span>
                <span>{{proyecto.nomproyecto}}</span>
            </div>
            <div class="datosGrupo">
                <span>Email Programador: </span>
                <span>{{proyecto.programadorC}}</span>
            </div>
            <div class="datosGrupo">
                <span>valor: </span>
                <span id="valor">{{proyecto.valor}}</span>
            </div>
            <button (click)="tarjetaUser()" type="submit">Enviar</button>
        </div>
        <div class="pago">
            <div class="extra">
                <h2>Selecciona tu tipo de tarjeta</h2>
                <select>
                    <option value="armenia">Crédito</option>
                    <option value="pereira" selected>Débito</option>
                </select>
            </div> 
            <div class="card">
                <img src="../../../assets/chip.png" alt="" class="chip">
                <div class="logo"></div>
                <h2 class="banco">Llena los Espacios</h2>
                <div class="inputsCard">
                    <div class="inputBox">
                        <span>Numero Tarjeta</span>
                        <input  type="text" maxlength="19" id="inputTarget" [(ngModel)]="numTarget" name="target" placeholder="0123 4567 8901 2345">
                    </div>
                    <div class="inputBox">
                        <span>Nombre y Apellido</span>
                        <input type="text" class="name" placeholder="your name">
                    </div>
                    <div class="grupo">
                        <div class="inputBox">
                            <span>Fecha Expiración</span>
                            <input type="text" id="date" maxlength="5" placeholder="MM/YY" [(ngModel)]="dateTarget" name="date" >
                        </div>
                        <div class="inputBox">
                            <span>CCV</span>
                            <input type="password" placeholder="***" maxlength="3">
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra2">
                <div>
                    <span>Número de Documento</span>
                    <input class="extraInputs hola" type="number">
                </div>
                <div>
                    <span>Tipo de Documento: </span>
                    <select class="extraInputs">
                        <option value="cc" selected>CC</option>
                        <option value="ti">TI</option>
                        <option value="ce">CE</option>
                        <option value="rc">RC</option>
                        <option value="pa">PA</option>
                    </select>
                </div>
                <button (click)="tarjetaProg()" *ngIf="!datos">Enviar</button>
            </div>
        </div>
    </form>
</body>

