<section class="section2">
    <h2>Propuestas enviadas</h2>
    <ul class="titulos">
        <li>Proyecto</li>
        <li>Fecha de Entrega</li>
        <li>Estado</li>
    </ul>
    <div class="propuestas" *ngFor="let e of propuestas">
        <ul>
            <li>{{e.nomproyecto}}</li>
            <li>{{e.fecentrega}}</li>
            <li>{{e.estado}}</li>
            <li>
                <i class="prog fas fa-user-tie fa-lg" (click)="irPerfilProg(e.programador)"></i>
                <i class="ojo fas fa-eye fa-lg" (click)="openProject(e.programador)"></i>
                <i class="rojo fas fa-trash-alt fa-lg"></i>
            </li>
        </ul>
    </div>
</section>

<article *ngIf="modalProject" class="contModal" id ="contModal" >
    <div class="modal">
        <i class="fas fa-times fa-lg" id ="close" (click)="modalProject = !modalProject"></i>
        <h1>Sefming</h1>
        <p><span>Programador: </span>{{proyecto.programadorC}}</p>
        <p><span>Estado: </span>{{proyecto.estado}}</p>
        <p><span>Fecha Entrega: </span>{{proyecto.fecentrega}}</p>
        <p><span>valor: </span>{{proyecto.valor}}</p>
        <p id="respuesta"><span>Descripcion: </span>{{proyecto.descripcion}}</p>
        <p><span>Archivo: </span>{{proyecto.archivo}}</p>

    </div>
</article>

