
<article >
    <section>
        <div class="caja" *ngFor="let i of card" (click)="verPerfil(i.idprog)">
            <img class="banner" src="../../../assets/portada.jpg">
            <div class="nombre">
                <img class="perfil" src="../../../assets/perfil.jpg">
                <h2>{{i.nomcompleto}}</h2>
            </div>
            
            <p class="descripcion">{{i.descripcion}}</p>
            <div class="reputacion">
                <i class="fas fa-star"></i>
                <p>5.0</p>
            </div>
        </div>
    </section>
    
</article>

