
<article>
    <section>
        <div class="caja" *ngFor="let i of card">
            <img class="banner" src="../../../assets/attack.jpg">
            <div class="nombre">
                <img class="perfil" src="../../../assets/1029828.png">
                <a href="/perfilProg"><h2>{{i.nomcompleto}}</h2></a>
            </div>
            
            <p class="descripcion">{{i.descripcion}}</p>
            <div class="reputacion">
                <i class="fas fa-star"></i>
                <p>5.0</p>
            </div>
        </div>
    </section>
    
</article>

