<section class="section2">
    <div class="propuestas">
        <ul>
            <li>Newton Villarreal</li>
            <li>15/10/2021</li>
            <li>Aceptado</li>
            <li>
                <i class="correo fas fa-envelope fa-lg"></i>
                <i class="ojo fas fa-eye fa-lg"></i>
                <i class="rojo fas fa-trash-alt fa-lg"></i>
            </li>
        </ul>
        <ul>
            <li>Fernanda Velásquez</li>
            <li>15/10/2021</li>
            <li>Denegado</li>
            <li>
                <i class="correo fas fa-envelope fa-lg"></i>
                <i class="ojo fas fa-eye fa-lg"></i>
                <i class="rojo fas fa-trash-alt fa-lg"></i>
            </li>
        </ul>
        <ul>
            <li>Juan Reyes</li>
            <li>15/10/2021</li>
            <li>Denegado</li>
            <li>
                <i class="correo fas fa-envelope fa-lg"></i>
                <i class="ojo fas fa-eye fa-lg"></i>
                <i class="rojo fas fa-trash-alt fa-lg"></i>
            </li>
        </ul>
    </div>
</section>
